.carrossel__titulo {
    color: var(--laranja);
    font-size: 18px;
    font-weight: 700;
    background-color: var(--branco);
    text-align: center;
    padding: 1em 0 .5em;
    text-transform: uppercase;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}